body {
    background-color: black !important;
}

header {
    background-color: black;
    height: 200px;
    text-align: center;
    color: white;
}

.main-container {
  background-color: #690000;
  color: white;
  max-width: 95%;
  padding: 2rem 0;
}

.generate_sets * {
  margin-right: 1rem;
}