body {
    background-color: red !important;
}

header {
    background-color: black;
    height: 200px;
    text-align: center;
    color: white;
    border-bottom: 2px solid rgba(226, 228, 232, 0.775);
}

 header >h1{
    padding: 2rem;
    border-bottom: 2px solid white;
}

h1>span {
    color: red;
}


.nav_flex {
   color: red !important;
   text-decoration: none;

}

.nav_flex:hover{
    color: rgb(167, 149, 149) !important;
}



